<!DOCTYPE html>
<html th:replace="~{layoutFile :: layout(~{::title}, ~{::section})}">

<head>
    <title>Stores list</title>
</head>

<body>
    <section>
        <table class="table table-responsive" 
            th:fragment="storesTable(stores)"
            hx-get="/dashboard/table/htmx" hx-trigger="every 1s">
            <thead class="sticky-top">
                <tr>
                    <th scope="col">Store name</th>
                    <th scope="col">Store url</th>
                    <th scope="col">Store status</th>
                    <th scope="col">Store revenue</th>
                </tr>
            </thead>
            <tr th:each="store: ${stores}"
                th:class="${store.statusStyle}">
                <th scope="row"><a th:href="@{/dashboard/{storeid}/details(storeid = ${store.id})}" th:text="${store.name}" /></th>
                <td><a th:href="${store.baseUrl}" th:text="${store.baseUrl}" /></td>
                <td th:text="${store.status}" />
                <td th:text="${store.revenue}" />
            </tr>
        </table>
    </section>
</body>

</html>